html {
    background-color: #FFA600;
    font-size: 13px; 
    font-family: 'Bungee';
}

body {
    width: 900px;
    margin: 30px auto;
    background-color: #FFFFFF;

  }


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  
}

.flex-item {
    width: 95%;
    margin: 10px;
    
}

#play-area {
    height: 500px;
    background-color: teal;
    cursor: url("../images/targetwhite.png"), auto;
}

#time-area {
    height: 250px;
    background-color: orangered;
}

.mole-img {
    display: flex;
    height: 100px;
    width: 120px;
    padding-left: 25px;
    left: 41%;
    position: relative;
}


h1 {
    font-size: 60px;
    text-align: center;
    margin: auto auto 0 auto;   
    color: white;
}

h2 {
    font-size: 30px;
    color: white;
    margin: 20px auto 0px auto;
}

.button {
    font-size: 40px;
    margin: auto auto 0 auto;
    color: white;
    font-family: 'Bungee';
    background-color: teal;
    border: none;
    justify-content: center;
    cursor: url("../images/targetwhite.png"), auto;
}

#div-go-button,
#button-start {
    display: flex;
}

p {
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Bungee';
    text-align: center;
}

p#time-message {
    font-size: 20px;
}

#h2-enter-name,
p#time {
    font-size: 50px;
}

#whack-display{
    display: none;
    flex-direction: row;
    justify-content: space-around
}

p#noofwhacks {
    text-align: center;
}

#nowhack {
    display: flex;
    flex-direction: column;
    
}

#whacks, #live-timer-message {
    margin: 40px 0px 0px 0px;
}

#time-messages,
#h2-enter-name,
#p-enter-name 
{
    text-align: center;
}

#time-messages, 
#enter-name {
    display: none;
}


#div-enter-name {
    display: none;
    flex-direction: column;
}

#p-enter-name {
    border: none;
    background-color: teal;
    color: white;
    font-family: 'bungee';
    font-size: 70px;
    
}

#p-enter-name:focus {
    outline: none;
    border-bottom: 5px white dashed;
}
